<div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <strong>Kết quả hội đồng chấm</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered table-striped table-hover">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Thành viên</th>
                            <th>Điểm</th>
                            <th>Trạng thái</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <strong>Nguyễn Đức Minh</strong>
                                <p>trưởng phòng - Chi cục Tiêu chuẩn ĐLCL, Sở
                                    KH&CN</p>
                            </td>
                            <td style="color: red;">55</td>
                            <td style="font-weight: 600;color: green;">Đạt</td>
                            <td>
                                <div class="d-flex">
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip"
                                        title="Xem chi tiết">
                                        <a style="text-decoration: none;" href="/markPageReview">
                                            <i class="fe fe-more-horizontal icon__table">
                                            </i>
                                        </a>
                                    </span>
                                    <span class="d-inline-block" tabindex="0" data-toggle="tooltip" title="Phiếu chấm">
                                        <i class="fe fe-download icon__table" style="color: rgb(3, 163, 212)">
                                        </i>
                                    </span>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" style="color: white;">Cập nhật phiếu
                    chấm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>