<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal__size" role="document">
        <div class="modal-content model__content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm mới
                    chủ thể</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" class="width: 100%">
                <form>
                    <div class="form-row">
                        <!-- chu thể -->
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault01">Chủ
                                thể</label>
                            <input type="text" class="form-control" id="validationDefault01" required>
                        </div>
                        <!-- người đại diện -->
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Người đại
                                diện</label>
                            <input type="text" class="form-control" id="validationDefault02" required>
                        </div>
                        <div class="col-md-4 mb-3">
                            <label for="validationDefault02">Đối tượng</label>
                            <select class="form-control" name="" id="">
                                <option value="" selected>--</option>
                                <option value="">Xã nông thôn mới</option>
                                <option value="">Xã nông thôn nâng cao</option>
                            </select>
                        </div>
                        <!-- điện thoại -->
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault03">Điện
                                thoại</label>
                            <input type="text" class="form-control" id="validationDefault03" required>
                        </div>
                        <!-- Điện thoại khác -->
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault04">Điện
                                thoại khác</label>
                            <input type="number" class="form-control" id="validationDefault04" required>
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault05">Email</label>
                            <input type="email" class="form-control" id="validationDefault05" required>
                        </div>
                        <!-- tỉnh -->
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault06">Tỉnh /
                                Thành phố</label>
                            <select class="form-control" id="validationDefault06" name="">
                                <option value="" selected>--</option>
                                <option value="">Hoàng Mai</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault07">Quận /
                                Huyện</label>
                            <select class="form-control" id="validationDefault07" name="">
                                <option value="" selected>--</option>
                                <option value="">alo 123</option>
                            </select>
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="validationDefault08">Xã /
                                Phường</label>
                            <select class="form-control" id="validationDefault08" name="">
                                <option value="" selected>--</option>
                                <option value="">Tân Hồng</option>
                            </select>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault09">Address</label>
                            <input type="text" class="form-control" id="validationDefault09" required>
                        </div>
                        <div class="col-md-12 mb-3">
                            <label for="validationDefault10">Ghi
                                chú</label>
                            <input type="text" class="form-control" id="validationDefault10" required>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>