<div class="vertical light">
    <div class="wrapper">
        {{> header}}
        {{> aside-left}}
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 page-title">Chấm điểm OCOP</h2>
                        <p class="card-text">DƯỠNG DA 123 PLUS +</p>
                        <div class="row my-4">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <div class="file-upload">
                                                    <!-- image -->
                                                    <img style="width: 100%; height: 100%; object-fit: cover;"
                                                        src="https://csdl.ocopthaibinh.vn/Common/Images/default-contact-image.jpg"
                                                        alt="">
                                                    <!-- nameProduct -->
                                                    <p class="title_product">DƯỠNG DA 123 PLUS +</p>
                                                </div>
                                                <div class="">
                                                    <strong>Nhóm sản phẩm:</strong>
                                                    <span class="ml-2" style="cursor: pointer;">Nhóm 19: Bộ sản phẩm: Mỹ
                                                        phẩm có thành phần từ
                                                        Thảo
                                                        dược</span>
                                                </div>
                                                <div class="my-4" style="border-top: 1px dashed #ccc;"></div>
                                                <div class="" style="font-size: 16px;">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Phần A:</p>
                                                        <p class="" style="color: #1B68FF; font-weight: 600;"><span
                                                                style="font-size: 14px;">21</span>/40</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Phần B:</p>
                                                        <p style="color: #1B68FF; font-weight: 600;"><span
                                                                style="font-size: 14px;">32</span>/50</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Tổng điểm:</p>
                                                        <p style="color: red; font-weight: 600;">
                                                            63 điểm</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Xếp hạng OCOP:</p>
                                                        <p> <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                            <span class="fa fa-star checked"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <table
                                                    class="table table-bordered table-striped table-hover table_updateScoreTemp">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="min-width: 592px;max-width: 592px;">
                                                            </th>
                                                            <th scope="col" class="w-100"></th>
                                                            <th scope="col" class="w-60"></th>
                                                            <th scope="col" class="w-40"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                Phần A: SẢN
                                                                PHẨM VÀ SỨC MẠNH
                                                                CỦA CỘNG ĐỒNG (40 Điểm)
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;text-transform: uppercase;">
                                                                1. Tổ chức sản
                                                                xuất</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                a) Nguồn nguyên liệu</td>
                                                            <td></td>
                                                            <td style="text-align: center;cursor: pointer;">
                                                                <i class="fe fe-file-text icon__file"
                                                                    data-toggle="modal" data-target="#exampleModal"></i>
                                                            </td>
                                                            <td></td>
                                                        </tr>


                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;opacity: 0.6;">
                                                                <label for="cau1" style="cursor: pointer;">
                                                                    Sử dụng nguyên liệu có nguồn gốc trong tỉnh dưới
                                                                    50%***
                                                                </label>
                                                            </td>
                                                            <td
                                                                style="color: red;font-style: italic;text-align: center;">
                                                                ( 1 điểm) </td>
                                                            <td></td>
                                                            <td style="text-align: center;">
                                                                <input type="radio" name="cau1" id="cau1" value="true">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                Ghi chú: Bị loại nếu sử dụng toàn bộ nguyên liệu nhập
                                                                khẩu hoặc không rõ nguồn gốc</td>
                                                            <td></td>
                                                            <td>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal__size" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Viện dẫn</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table
                                                                    class="table table-bordered table-striped table-hover"
                                                                    border="1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 20%;">STT</th>
                                                                            <th style="width: 60%;">Tên tài liệu</th>
                                                                            <th style="width: 20%;">Bắt buộc</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                1
                                                                            </td>
                                                                            <td>
                                                                                <a href="" class="element__hoverRed">
                                                                                    <i class="fe fe-file-text"></i>
                                                                                    <span>
                                                                                        Chứng nhận đủ điều kiện sản
                                                                                        xuất mỹ phẩm.pdf
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                2
                                                                            </td>
                                                                            <td>
                                                                                <a href="" class="element__hoverRed">
                                                                                    <i class="fe fe-file-text"></i>
                                                                                    <span> Chứng nhận đủ điều kiện
                                                                                        ATTP.pdf
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary">Save
                                                                    changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div>
</div>