<div class="vertical light">
    <div class="wrapper">
        {{> header}}
        {{> aside-left}}
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <div class="row my-4">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <div class="">
                                                    <strong>Đối tượng:</strong>
                                                    <span class="ml-2" style="cursor: pointer;">Đối với xã nông thôn
                                                        mới</span>
                                                </div>
                                                <div class="my-4" style="border-top: 1px dashed #ccc;"></div>
                                                <div class="" style="font-size: 16px;">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Quy hoạch:</p>
                                                        <p class="" style="color: #1B68FF; font-weight: 600;"><span
                                                                style="font-size: 14px;">1</span>/2</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Nhà ở dân cư:</p>
                                                        <p style="color: #1B68FF; font-weight: 600;"><span
                                                                style="font-size: 14px;">0</span>/2</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p>Trạng thái:</p>
                                                        <p style="color: red; font-weight: 600;">
                                                            Không đạt</p>
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <p class="note_markPage">Tiêu chí huyện nông thôn mới , huyện
                                                            nông thôn
                                                            mới nâng cao
                                                            giai đoạn 2021 - 2025</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8">
                                        <div class="card shadow">
                                            <div class="card-body">
                                                <table
                                                    class="table table-bordered table-striped table-hover table_updateScoreTemp">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col" style="min-width: 592px;max-width: 592px;">
                                                            </th>
                                                            <th scope="col" class="w-100">
                                                            </th>
                                                            <th scope="col" class="w-60">
                                                            </th>
                                                            <th scope="col" class="w-40">
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                A ) HỒ SƠ MINH CHỨNG ĐỂ ĐÁNH GIÁ
                                                            </td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        {{!-- I) Đối với xã nông thôn mới --}}
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333">
                                                                I) Đối với xã nông thôn mới</td>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                        </tr>
                                                        {{!-- 1. Tiêu chí số 01 về Quy hoạch: --}}
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                1) Tiêu chí số 01 về quy hoạch</td>
                                                            <td></td>
                                                            <td style="text-align: center;cursor: pointer;">
                                                                <i class="fe fe-file-text icon__file"
                                                                    data-toggle="modal" data-target="#exampleModal"></i>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;opacity: 0.6;">
                                                                <label for="cau1" style="cursor: pointer;">
                                                                    Có quy hoạch xây dựng xã hội phê duyệt phù hợp với
                                                                    định hướng
                                                                    phát triển kinh tế - xã hội của giai đoạn 2021-2025
                                                                </label>
                                                            </td>
                                                            <td
                                                                style="color: red;font-style: italic;text-align: center;">
                                                                <input type="checkbox" name="" id="cau1">
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;opacity: 0.6;">
                                                                <label for="cau2" style="cursor: pointer;">
                                                                    Ban hành quy định quản lý thu hoạch chung xây dựng
                                                                    xã và tổ chức
                                                                    hiện theo quy hoạch
                                                                </label>
                                                            </td>
                                                            <td
                                                                style="color: red;font-style: italic;text-align: center;">
                                                                <input type="checkbox" name="" id="cau2">
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                Ghi chú: Bị loại nếu sử dụng
                                                                toàn bộ nguyên liệu nhập
                                                                khẩu hoặc không rõ nguồn gốc
                                                            </td>
                                                            <td></td>
                                                            <td>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        {{!-- 2. Tiêu chí 9 về Nhà ở dân cư: --}}
                                                        <tr>
                                                            <td scope="row" style="font-weight: 600;color: #333333;">
                                                                2). Tiêu chí 9 về Nhà ở dân cư</td>
                                                            <td></td>
                                                            <td style="text-align: center;cursor: pointer;">
                                                                <i class="fe fe-file-text icon__file"
                                                                    data-toggle="modal" data-target="#exampleModal"></i>
                                                            </td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;opacity: 0.6;">
                                                                <label for="cau3" style="cursor: pointer;">
                                                                    Nhà không ở tạm , không dột nát
                                                                </label>
                                                            </td>
                                                            <td
                                                                style="color: red;font-style: italic;text-align: center;">
                                                                <input type="checkbox" name="" id="cau3">
                                                            </td>
                                                            <td>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td scope="row"
                                                                style="font-weight: 600;color: #333333;opacity: 0.6;">
                                                                <label for="cau4" style="cursor: pointer;">
                                                                    Tỷ lệ hộ có nhà kiên cố hoặc bán kiên cố
                                                                </label>
                                                            </td>
                                                            <td
                                                                style="color: red;font-style: italic;text-align: center; d-flex">
                                                                <input type="checkbox" name="" id="cau4">
                                                            </td>
                                                            <td>
                                                                <span class="d-inline-block" tabindex="0"
                                                                    data-toggle="tooltip"
                                                                    title="Tỷ lệ hộ có nhà kiên hoặc bán kiên cố >= 90%">
                                                                    <i style="color: red;"
                                                                        class="fe fe-alert-circle"></i>
                                                                </span>
                                                            </td>
                                                            <td>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog modal__size" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">
                                                                    Viện dẫn</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table
                                                                    class="table table-bordered table-striped table-hover"
                                                                    border="1">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="width: 20%;">
                                                                                STT</th>
                                                                            <th style="width: 60%;">
                                                                                Tên tài liệu
                                                                            </th>
                                                                            <th style="width: 20%;">
                                                                                Bắt buộc
                                                                            </th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>
                                                                                1
                                                                            </td>
                                                                            <td>
                                                                                <a href="" class="element__hoverRed">
                                                                                    <i class="fe fe-file-text"></i>
                                                                                    <span>
                                                                                        Chứng
                                                                                        nhận
                                                                                        đủ
                                                                                        điều
                                                                                        kiện
                                                                                        sản
                                                                                        xuất
                                                                                        mỹ
                                                                                        phẩm.pdf
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>
                                                                                2
                                                                            </td>
                                                                            <td>
                                                                                <a href="" class="element__hoverRed">
                                                                                    <i class="fe fe-file-text"></i>
                                                                                    <span>
                                                                                        Chứng
                                                                                        nhận
                                                                                        đủ
                                                                                        điều
                                                                                        kiện
                                                                                        ATTP.pdf
                                                                                    </span>
                                                                                </a>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-primary">Save
                                                                    changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div>
</div>