<div class="vertical light ">
    <div class="wrapper">
        {{> header}}
        {{> aside-left}}
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 page-title">Chủ thể</h2>
                        <p class="card-text">Danh sách chủ thể</p>
                        <div class="row my-4">
                            <!-- Small table -->
                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <!-- table -->
                                        <div class="table_header">
                                            <div class="d-flex align-items-center justify-content-center">
                                                <button class="btn btn-primary" data-toggle="modal"
                                                    data-target="#exampleModal">ADD</button>
                                                <a style="text-decoration: none;" href="/subject/trash"><i
                                                        class="fe fe-trash-2 icon__table-large icon__table-trash"></i></a>
                                                {{!-- modal --}}
                                            </div>
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal__size" role="document">
                                                    <div class="modal-content model__content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Thêm mới
                                                                chủ thể</h5>
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body" class="width: 100%">
                                                            <form>
                                                                <div class="form-row">
                                                                    <!-- chu thể -->
                                                                    <div class="col-md-8 mb-3">
                                                                        <label for="validationDefault01">Chủ
                                                                            thể</label>
                                                                        <input type="text" class="form-control"
                                                                            id="validationDefault01" required>
                                                                    </div>
                                                                    <!-- người đại diện -->
                                                                    <div class="col-md-4 mb-3">
                                                                        <label for="validationDefault02">Người đại
                                                                            diện</label>
                                                                        <input type="text" class="form-control"
                                                                            id="validationDefault02" required>
                                                                    </div>
                                                                    <!-- điện thoại -->
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Điện
                                                                            thoại</label>
                                                                        <input type="text" class="form-control"
                                                                            id="validationDefault02" required>
                                                                    </div>
                                                                    <!-- Điện thoại khác -->
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Điện
                                                                            thoại khác</label>
                                                                        <input type="number" class="form-control"
                                                                            id="validationDefault02" required>
                                                                    </div>
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Email</label>
                                                                        <input type="email" class="form-control"
                                                                            id="validationDefault02" required>
                                                                    </div>
                                                                    <!-- tỉnh -->
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Tỉnh /
                                                                            Thành phố</label>
                                                                        <select class="form-control"
                                                                            id="validationDefault02" name="">
                                                                            <option value="" selected>--</option>
                                                                            <option value="">Hoàng Mai</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Quận /
                                                                            Huyện</label>
                                                                        <select class="form-control"
                                                                            id="validationDefault02" name="">
                                                                            <option value="" selected>--</option>
                                                                            <option value="">alo 123</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-4 mb-3 mt-3">
                                                                        <label for="validationDefault02">Xã /
                                                                            Phường</label>
                                                                        <select class="form-control"
                                                                            id="validationDefault02" name="">
                                                                            <option value="" selected>--</option>
                                                                            <option value="">Tân Hồng</option>
                                                                        </select>
                                                                    </div>
                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="validationDefault01">Address</label>
                                                                        <input type="text" class="form-control"
                                                                            id="validationDefault01" required>
                                                                    </div>
                                                                    <div class="col-md-12 mb-3">
                                                                        <label for="validationDefault01">Ghi
                                                                            chú</label>
                                                                        <input type="text" class="form-control"
                                                                            id="validationDefault01" required>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary"
                                                                data-dismiss="modal">Close</button>
                                                            <button type="button" class="btn btn-primary">Save
                                                                changes</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="box__input-headerTable">
                                                <input type="text" class="form-control input-headerTable"
                                                    placeholder="Tìm kiếm ..">
                                                <span class="fe fe-14 fe-search iconSearch_headerTable"></span>
                                            </div>
                                        </div>
                                        <table class="table datatables table-bordered table-hover table-striped">
                                            <thead style="background-color: #F0F0F0;">
                                                <tr>

                                                    <th>Chủ thể</th>
                                                    <th>Điện thoại</th>
                                                    <th>Address</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Mark Zukerberg</td>
                                                    <td>(478) 446-9234</td>
                                                    <td>Lô CN4, cụm Công nghiệp Minh Lãng, xã Minh Lãng, huyện Vũ Thư,
                                                        tỉnh Thái Bình</td>
                                                    <td>
                                                        <i class="fe fe-edit-3 icon__table icon__table-edit"></i>
                                                        <i class="fe fe-trash-2 icon__table icon__table-trash"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- simple table -->
                        </div> <!-- end section -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div>
</div>