<div class="vertical light ">
    <div class="wrapper">
        {{> header}}
        {{> aside-left}}
        <main role="main" class="main-content">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-12">
                        <h2 class="mb-2 page-title">Chủ thể</h2>
                        <p class="card-text">Khôi phục chủ thể</p>
                        <div class="row my-4">
                            <!-- Small table -->
                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <!-- table -->
                                        <div class="table_header">
                                            <div class="box__input-headerTable">
                                                <input type="text" class="form-control input-headerTable"
                                                    placeholder="Tìm kiếm ..">
                                                <span class="fe fe-14 fe-search iconSearch_headerTable"></span>
                                            </div>
                                            <div class="">
                                                <button class="btn btn-danger">Xóa tất cả</button>
                                                <button class="btn btn-primary">Khôi phục tất cả</button>
                                            </div>
                                        </div>
                                        <table class="table datatables table-bordered table-hover table-striped">
                                            <thead style="background-color: #F0F0F0;">
                                                <tr>
                                                    <th>
                                                        <div class="checkbox">
                                                            <input type="checkbox" class="check" id="checkAll">
                                                        </div>
                                                    </th>
                                                    <th>Chủ thể</th>
                                                    <th>Điện thoại</th>
                                                    <th>Address</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="">
                                                            <div class="checkbox">
                                                                <input type="checkbox" class="check">
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>Mark Zukerberg</td>
                                                    <td>(478) 446-9234</td>
                                                    <td>Lô CN4, cụm Công nghiệp Minh Lãng, xã Minh Lãng, huyện Vũ Thư,
                                                        tỉnh Thái Bình</td>
                                                    <td>
                                                        <i class="fe fe-edit-3 icon__table icon__table-edit"></i>
                                                        <i class="fe fe-trash-2 icon__table icon__table-trash"></i>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div> <!-- simple table -->
                        </div> <!-- end section -->
                    </div> <!-- .col-12 -->
                </div> <!-- .row -->
            </div> <!-- .container-fluid -->
        </main> <!-- main -->
    </div>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js"></script>
<script src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
</script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'UA-56159088-1');
    // checkbox All
    $("#checkAll").click(function () {
        $(".check").prop('checked', $(this).prop('checked'));
    });
</script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>